/*VAR COLORS */
/*END VAR COLORS */
/*EXTENDS */
.inlineMid, .contactImg:before, .header_contact li:first-child .header_contact_0:before, .header_contact li:nth-child(2) .header_contact_0:before, .header_contact li:nth-child(3) .header_contact_0:before, .header_contact li:last-child .header_contact_0:before, .header_contact li .skype_contact span:before, .header_contact li .phone_contact span:before, .header_contact li, .header_contact li .header_contact_0:after, .header_lang .img_lang, .header_lang .btn_lang, .header_lang .btn_lang:after, #header_menu ul li:before, #header_menu ul li a, .footer_page .footer_payment .item_pay, .footer_page .footer_payment .btn_pay, .investors_list .investors_list_item {
  vertical-align: middle;
  display: inline-block; }

.bgimg, .header_contact li .header_contact_0:after, .header_lang .btn_lang:after, #header_menu ul li:before {
  background-position: center;
  background-repeat: no-repeat; }

.contactImg:before, .header_contact li:first-child .header_contact_0:before, .header_contact li:nth-child(2) .header_contact_0:before, .header_contact li:nth-child(3) .header_contact_0:before, .header_contact li:last-child .header_contact_0:before, .header_contact li .skype_contact span:before, .header_contact li .phone_contact span:before {
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 3px;
  background-image: url(../img/spriteTop.png);
  background-position: 0 0; }

/*EXTENDS */
body {
  font-family: "MyriadProRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #5c5c5c; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

/*MAIN */
a {
  color: #4f4f4f;
  text-decoration: none; }
  a:hover {
    color: #4f4f4f; }

ul {
  padding: 0;
  list-style-type: none;
  margin: 0; }

.paddingNull {
  padding: 0; }

.wrap_top_text p {
  margin: 0; }

img {
  max-width: 100%; }

.title_section {
  overflow: hidden; }

/*MAIN */
/*TOGGLE MENU */
.toggle_mnu {
  width: 60px;
  display: none;
  height: 60px;
  position: fixed;
  z-index: 1000;
  outline: none;
  border: none;
  right: 20px;
  background-color: #202931;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

/*TOGGLE MENU */
/*MOB MENU */
.hide_mob_menu {
  position: fixed;
  left: 0;
  top: -100%;
  right: 0;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }

.hide_mob_menu.visible_menu {
  opacity: 1;
  top: 0; }

.hide_mob_menu ul {
  margin: 60px auto 20px;
  display: block;
  padding: 0;
  text-align: center; }
  .hide_mob_menu ul li {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 16px; }
.hide_mob_menu .header_lang {
  text-align: center; }
.hide_mob_menu .header_login {
  position: relative;
  top: 0;
  text-align: center;
  margin-top: 50px; }

/*MOB MENU */
/*HEADER */
header#header {
  overflow: hidden; }

#header_main {
  background-color: #eef3f7;
  padding-bottom: 35px;
  position: relative; }

.header_logo {
  padding-top: 40px; }

.header_contact {
  background-color: #242e37;
  position: relative; }
  .header_contact:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    right: -99%;
    top: 0;
    background-color: #242e37; }
  .header_contact li {
    color: #fff;
    margin-right: -4px;
    position: relative;
    cursor: pointer; }
    .header_contact li .header_contact_0 {
      padding: 20px 5px;
      border-right: 1px solid #1c232a; }
      .header_contact li .header_contact_0:after {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url(../img/ellipsis.png); }
    .header_contact li:first-child .header_contact_0:before {
      background-position: -7px -11px; }
    .header_contact li:nth-child(2) .header_contact_0:before {
      background-position: -53px -11px; }
    .header_contact li:nth-child(3) .header_contact_0:before {
      background-position: -98px -11px; }
    .header_contact li:last-child .header_contact_0:before {
      background-position: -144px -11px; }
    .header_contact li .header_contact_1 {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      z-index: -100;
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
      background-color: #212931;
      padding: 5px 10px; }
      .header_contact li .header_contact_1 .btn_wrap {
        font-size: 10px;
        margin-top: 5px; }
        .header_contact li .header_contact_1 .btn_wrap button:first-child {
          border: none;
          background-color: #36953a; }
        .header_contact li .header_contact_1 .btn_wrap button:last-child {
          border: 1px solid #1e252c;
          background-color: transparent; }
    .header_contact li .skype_contact span:before {
      background-position: -7px -11px; }
    .header_contact li .phone_contact span {
      padding: 10px 0;
      display: block; }
      .header_contact li .phone_contact span:first-child {
        background-color: #212931; }
      .header_contact li .phone_contact span:before {
        background-position: -53px -11px; }
    .header_contact li:hover .header_contact_1 {
      z-index: 10;
      opacity: 1; }

.header_lang {
  padding-top: 25px;
  position: relative;
  z-index: 10; }
  .header_lang .img_lang {
    width: 38px;
    margin-right: 5px; }
  .header_lang .btn_lang {
    text-transform: uppercase;
    position: relative; }
    .header_lang .btn_lang:hover .other_lang {
      opacity: 1;
      overflow: visible;
      height: auto; }
    .header_lang .btn_lang span {
      display: block;
      font-size: 10px;
      color: #9f9f9f; }
    .header_lang .btn_lang .main_lang {
      border: none;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      padding: 2px 5px;
      background-color: #36953a; }
    .header_lang .btn_lang:after {
      content: "";
      background-image: url(../img/ellipsis_grey.png);
      width: 20px;
      height: 20px; }
    .header_lang .btn_lang .other_lang {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
      .header_lang .btn_lang .other_lang ul li {
        color: #fff;
        text-transform: uppercase;
        padding: 2px 5px;
        background-color: #36953a;
        border-bottom: 1px solid #217925;
        cursor: pointer; }
        .header_lang .btn_lang .other_lang ul li:hover {
          background-color: #217925; }

.header_login {
  position: absolute;
  right: 0;
  top: 60%; }
  .header_login .header_login_item {
    background-color: #fff;
    padding: 20px 15px;
    width: 155px;
    display: inline-block;
    margin: 0 2px; }
    .header_login .header_login_item .img_log {
      width: 45px;
      height: 45px;
      margin: auto;
      background-image: url(../img/spriteLog.png); }
    .header_login .header_login_item a {
      text-decoration: none;
      text-align: center;
      text-transform: uppercase; }
      .header_login .header_login_item a b {
        color: #5c5c5c;
        font-size: 15px;
        display: block; }
      .header_login .header_login_item a span {
        color: #9f9f9f;
        font-size: 10px;
        display: block; }
    .header_login .header_login_item:hover {
      background-color: #d0322a; }
      .header_login .header_login_item:hover a b {
        color: #fff; }
      .header_login .header_login_item:hover a span {
        color: #fff; }
  .header_login .header_user_acc .img_log {
    background-position: 2px -86px; }
  .header_login .header_user_acc:hover .img_log {
    background-position: 2px -136px; }
  .header_login .header_create_acc .img_log {
    background-position: 2px -43px; }
  .header_login .header_create_acc:hover .img_log {
    background-position: 2px 2px; }

#header_menu {
  background-color: #3a4a59; }
  #header_menu ul li {
    display: inline-block; }
    #header_menu ul li:hover {
      background-color: #36953a; }
    #header_menu ul li:before {
      content: "";
      background-image: url(../img/ellipsis.png);
      width: 14px;
      height: 14px;
      position: relative;
      left: 14px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    #header_menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 30px 15px;
      text-transform: uppercase; }

/*END HEADER */
/*FOOTER */
.footer_page {
  background-image: url(../img/footerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px; }
  .footer_page .footer_payment {
    position: relative;
    top: -30px; }
    .footer_page .footer_payment .item_pay {
      background-color: #eef3f7;
      padding: 5px 15px;
      width: 22.5%; }
      .footer_page .footer_payment .item_pay img {
        display: block;
        margin: auto; }
    .footer_page .footer_payment .btn_pay {
      outline: none;
      background-color: #242e37;
      border: none;
      width: 60px;
      height: 60px;
      position: relative; }
      .footer_page .footer_payment .btn_pay span {
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute; }
        .footer_page .footer_payment .btn_pay span:first-child {
          left: 27px;
          top: 22px; }
        .footer_page .footer_payment .btn_pay span:nth-child(2) {
          left: 22px;
          top: 32px; }
        .footer_page .footer_payment .btn_pay span:last-child {
          right: 22px;
          top: 32px; }
  .footer_page .footer_menu {
    color: #fff; }
    .footer_page .footer_menu .footer_menu_item {
      display: inline-block;
      vertical-align: top; }
      .footer_page .footer_menu .footer_menu_item .footer_menu_item_title {
        font-size: 16px;
        font-family: "MyriadProBold";
        text-transform: uppercase; }
      .footer_page .footer_menu .footer_menu_item ul {
        margin-top: 20px;
        margin-right: 75px; }
        .footer_page .footer_menu .footer_menu_item ul li {
          font-size: 12px; }
          .footer_page .footer_menu .footer_menu_item ul li a {
            color: #fff; }
  .footer_page .footer_contact {
    color: #fff;
    margin-top: 20px; }
    .footer_page .footer_contact .footer_phone {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      font-family: "MyriadProBold";
      margin-right: 25px; }
      .footer_page .footer_contact .footer_phone img {
        margin-right: 5px; }
    .footer_page .footer_contact .footer_copyright {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      line-height: 1.3; }
      .footer_page .footer_contact .footer_copyright span {
        display: block; }

/*END FOOTER */
#page_title .bg_wrap {
  position: relative; }
  #page_title .bg_wrap .img_bg {
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
  #page_title .bg_wrap .img_bg_contact {
    background-image: url(../img/bg_titles/contact.png); }
  #page_title .bg_wrap .img_bg_investors {
    background-image: url(../img/bg_titles/investors.png); }
  #page_title .bg_wrap .img_bg_aboutus {
    background-image: url(../img/bg_titles/about.png); }
  #page_title .bg_wrap .img_bg_faq {
    background-image: url(../img/bg_titles/faq.png); }
  #page_title .bg_wrap .img_bg_news {
    background-image: url(../img/bg_titles/news.png); }
  #page_title .bg_wrap .img_bg_partners {
    background-image: url(../img/bg_titles/partners.png); }
  #page_title .bg_wrap .container .row .col-md-10 {
    background: url(../img/pageTitlePad.png) no-repeat;
    height: 157px;
    color: #fff;
    padding-left: 70px; }
    #page_title .bg_wrap .container .row .col-md-10:before {
      content: "";
      position: absolute;
      width: 1000px;
      height: 157px;
      background-color: #25323e;
      display: inline-block;
      left: -1000px; }
    #page_title .bg_wrap .container .row .col-md-10 h1 {
      font-family: "MyriadProBold";
      font-size: 30px;
      margin-bottom: 0;
      margin-top: 40px;
      position: relative;
      text-transform: uppercase; }
      #page_title .bg_wrap .container .row .col-md-10 h1:before {
        content: "";
        background-image: url(../img/titleGreenBefore.png);
        display: inline-block;
        vertical-align: middle;
        width: 41px;
        height: 3px;
        left: -50px;
        top: 23px;
        position: absolute; }
    #page_title .bg_wrap .container .row .col-md-10 p {
      font-size: 12px;
      margin-top: 0; }

.main_content {
  background-image: url(../img/bgOverlay.png);
  background-repeat: repeat-y;
  background-color: #eef3f7;
  padding-top: 30px;
  padding-bottom: 60px; }

/*HOME */
.home_top {
  line-height: 1.2;
  padding-bottom: 45px;
  box-shadow: 0px 6px 10px rgba(171, 171, 171, 0.18); }
  .home_top h2 {
    color: #5f5f5e;
    font-size: 25px;
    max-width: 600px; }
  .home_top .btn_home a {
    background-color: #58748b;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 20px 35px;
    margin-top: 35px;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.32); }
    .home_top .btn_home a:hover {
      background-color: #d0322a; }

.title_section {
  padding-left: 70px;
  line-height: 1.2;
  padding-bottom: 30px; }
  .title_section h2 {
    color: #3a4a59;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    margin-bottom: 0; }
    .title_section h2:after {
      content: "";
      background-image: url(../img/titleGreenBefore.png);
      display: inline-block;
      vertical-align: middle;
      width: 41px;
      height: 3px;
      left: -50px;
      top: 23px;
      position: absolute; }
  .title_section p {
    font-size: 12px;
    margin-top: 0; }

body .partner_level_item_main .level_item_title .title_level.home_level {
  color: #3a4a59;
  margin-left: 0; }

.investors_list .investors_list_item.active_this {
  background-color: #eef3f7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.22); }

.investors_list .investors_list_item {
  width: 20%;
  margin-right: -4px;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase; }
  .investors_list .investors_list_item:hover {
    background-color: #eef3f7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.22); }
  .investors_list .investors_list_item .icon_inv {
    width: 35px;
    height: 45px;
    background-image: url(../img/sprite_level.png); }
  .investors_list .investors_list_item .rank_inv {
    font-size: 18px;
    color: #36953a; }
  .investors_list .investors_list_item .desct_inv {
    color: #858585;
    font-size: 12px;
    position: relative;
    margin-top: 10px; }
    .investors_list .investors_list_item .desct_inv:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 70px;
      height: 1px;
      background-color: #858585; }
  .investors_list .investors_list_item .user_rank_ic {
    background-position: -15px -15px; }
  .investors_list .investors_list_item .inv_rank_ic {
    background-position: -70px -15px; }
  .investors_list .investors_list_item .lider_rank_ic {
    background-position: -125px -15px; }
  .investors_list .investors_list_item .toplid_rank_ic {
    background-position: -180px -15px; }
  .investors_list .investors_list_item .primer_rank_ic {
    background-position: -235px -15px; }

.home_news .main_news_item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 15px; }
  .home_news .main_news_item .title_container {
    background-color: #d0322a; }

.news_home_slider .slick-next {
  right: 0;
  top: -45px; }
  .news_home_slider .slick-next:before {
    background-image: url(../img/ellipsis_grey.png);
    content: "";
    width: 40px;
    display: block;
    height: 40px;
    opacity: 1;
    background-repeat: no-repeat;
    border: 1px solid #d6dadd;
    background-position: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-size: 20px; }
.news_home_slider .slick-prev {
  right: 50px;
  top: -45px;
  left: auto; }
  .news_home_slider .slick-prev:before {
    background-image: url(../img/ellipsis_grey.png);
    content: "";
    width: 40px;
    display: block;
    height: 40px;
    opacity: 1;
    background-repeat: no-repeat;
    border: 1px solid #d6dadd;
    background-position: center;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-size: 20px; }

.partner_levels_home .partner_level_item {
  display: none; }
.partner_levels_home .partner_level_item.active_level {
  display: block; }

/*HOME */
